@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #eaece5;
}
.button {
  font-weight: bold;
  color: white;
  background-color: #8b9a46;
  padding: 5px 10px;
}
.button:hover {
  background-color: white;
  font-weight: bold;
  color: #8b9a46;
  border: 1px solid #8b9a46;
}
/* Navbar Customization */
.navbar {
  background-color: #eaece5;
}

.navbar-brand > img {
  height: 50px;
}

.carousel-item > img {
  height: 70vh;
  background-position: center;
  object-fit: cover;
}
/* Main Section Customization */
.main-section {
  background-color: yellow;
  height: 60vh;
  margin: 25px 0px;
}
.main-section-left {
}
.main-section-right {
  height: 50vh;

  color: black;
}
.our-goal {
}
/* Footer Section Customization */
.logo {
  height: 200px;
  width: 200px;
}
.email-section {
  padding: 30px 60px;
}

.bottom-section {
  height: 30vh;
}
.bottom-section > div {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.bottom-section > div > a {
  text-decoration: underline;
  color: blue;
}
.social-section {
  background-color: black;
}
